<head>
    <div>
        <div>
        <div>
            <h2 href="/">
            {{title}}          
            </h2>           
        </div>
        </div>
    </div>
</head>
</br>
</br>
<div>
    <div>
        <div >
            <div >
                <div style="background-color:tomato">
                    Add a new User
                </div>
                </br>
                
                <div>
                    {{!-- aadhaarID, name, age, allergies, medicalHistory --}}
                <div id="collapseQueryAdd">
                    <form id="manForm">
                        <div>
                            <div>
                            <a>Aadhar id</a>
                            <label for="adhaarID"></label>
                            <input type="text" id="adhaarID" aria-describedby="adhaarID" placeholder="Aadhaar-001">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>name</a>
                            <label for="name"></label>
                            <input type="text" id="name" aria-describedby="name" placeholder="enter name">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Age</a>
                            <label for="age"></label>
                            <input type="text" id="age" aria-describedby="age" placeholder="enter age">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Allergy history</a>
                            <label for="allergies"></label>
                            <input type="text"  id="allergies" aria-describedby="allergies" placeholder="enter allergies">
                            </div>
                        </div>
                       
                        <div>
                            <div>
                            <a>Medical history</a>
                            <label for="medicalHistory"></label>
                            <input type="text" id="medicalHistory" aria-describedby="medicalHistory" placeholder="medical history">
                            </div>
                        </div>      
                        </br>
                        </br>
                        <div>
                            <div>
                            <a>Provide username for submitting transaction</a>
                            <label for="userName"></label>
                            <input type="text" id="userName" aria-describedby="userName" placeholder="admin/appUser">
                            </div>
                        </div> 
                        <div>
                            <div>
                                <button type="button" onclick="HealthWriteData(event)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>

<script type="text/javascript" src='/javascripts/main.js'></script>
